.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slideContainer{
  height:"100px"
}
.button{
  border-radius: 10px;
}
.contact{
  position: relative;
  left: 340px;
  border-style: double;
  width:817px;
  background-color: DodgerBlue;
  color: white;
  text-align: center;
}
.text{
  position: relative;
  left: 620px;
  color:black
}
.button1{
  background-color: tomato;
}
.card{
  width:"100%";
  height:"100%"
}
.name{
  position: relative;
  top:-41px;
  text-align: right;
  left:-16px
}
.vl {
  border-left: 6px solid green;
  height: 500px;
}